.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}
.container-slide {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
.hidden {
  display: none;
  width: 0;
}
.ativo {
  display: flex;
}

/* controls product-box on home page and search, category and store page */

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 36px;
}
.product-item h2 {
  font-size: 1.25rem;
  padding: 8px 0px 24px 8px;
}
.product-item {
  border-radius: 4px 0 4px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--az-01);
  max-height: 460px;
  position: relative;
}

.product-item.disabled:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999999;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  cursor: pointer;
}

.product-item::before {
  content: "frete grátis";
  display: block;
  position: absolute;
  top: 12px;
  background: var(--az-01);
  color: var(--az-05);
  padding: 8px 12px;
  border-radius: 0 12px 12px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  opacity: 0;
}
.product-item:hover:before {
  width: max-content;
  opacity: 1;
}

.product-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.reg-price {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-decoration: line-through;
  letter-spacing: 0.02rem;
}
.product-item__info-btn span {
  background-color: var(--rs-01);
  color: var(--rs-05);
  padding: 8px 16px;
  border-radius: 8px;
}
.product-item:hover .product-item__info-btn span {
  background-color: var(--az-01);
  color: var(--az-05);
}

/*controls timer on promo products*/

.item-timer p {
  text-align: center;
  font-family: "Chewy", "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--rs-03);
  background-color: var(--cz-01);
  padding: 16px;
  border-top: 1px solid var(--az-01);
  border-bottom: 2px solid var(--cz-05);
}
/*control index h1*/
.index-title {
  margin-top: 16px;
  margin-bottom: 60px;
  padding: 18px 0;
  background-color: var(--cz-02);
  text-align: center;
  font-weight: 700;
}

@media (max-width: 960px) {
  .product-list {
    justify-content: center;
    gap: 32px;
  }
}
@media (max-width: 420px) {
  .product-item:before {
    width: max-content;
    opacity: 1;
  }
}
