/*control dropdown menu*/
#menu-categorias .sub-menu {
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 200;
  top: 190px;
}
#menu-categorias .sub-menu::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img-meufoot/icones/heart-fill.svg") center center
    no-repeat;
  position: absolute;
  z-index: 300;
  top: -10px;
  left: -5px;
}

#menu-categorias .sub-menu li {
  padding: 8px 12px;
  font-size: 0.85rem;
  max-width: 25ch;
  text-align: left;
  position: relative;
  border: none;
  border-bottom: 2px solid var(--cz-02);
  cursor: pointer;
}
#menu-categorias .sub-menu li:last-child {
  border: none;
}
#menu-categorias .sub-menu li:hover {
  font-size: 1rem;
  background: var(--cz-00);
  border-bottom: 3px solid var(--rs-01);
}
#menu-categorias .sub-menu li:hover > a {
  color: var(--rs-02);
}
#menu-categorias .sub-menu a {
  font-size: 1rem;
  text-align: left;
  padding: 12px 24px;
  margin-bottom: 8px;
}

#menu-categorias .sub-menu a:hover:after {
  display: none;
}

#menu-categorias .sub-menu {
  display: none;
}
#menu-categorias .menu-item-has-children:hover > .sub-menu {
  display: flex;
  animation: show-up 0.3s forwards;
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
