html {
  padding: 0px !important;
  margin: 0px !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  font-size: 1.125rem;
  background-color: var(--cz-01);
}
div {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
input {
  border: none;
}
input:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
* {
  box-sizing: border-box;
}
