.header_menu--second ul li .sub-menu {
  display: none;
}
.header_faixa {
  background-color: var(--az-01);
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
/*set all containers to flex*/
.header_flex,
.header_menu--first,
.header_menu--second ul,
.header_vantagens,
.header_vantagens-item,
.login-options,
.meufoot_cart {
  display: flex;
}
.header_flex {
  padding: 24px 0;
  justify-content: space-between;
}
/*control logo animation*/
.header_logo {
  display: block;
  min-width: 260px;
  height: 100%;
  transition: 2s;
  animation: pulse 2s infinite;
  animation-delay: 300ms;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
/*control menu flex*/

.header_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

/*control first menu styles*/
.header_menu--first {
  justify-content: space-around;
  align-items: center;
}

.login-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.00375rem;
  gap: 4px;
  padding: 12px;
}
.meufoot-sign_up:before {
  display: inline-block;
  content: "";
  background: url("./img-meufoot/icones/criar_conta.svg") center center
    no-repeat;
  width: 20px;
  height: 20px;
}
.meufoot-login:before {
  display: inline-block;
  content: "";
  background: url("./img-meufoot/icones/login.svg") center center no-repeat;
  width: 20px;
  height: 20px;
}

.header_search form {
  display: grid;
}
#s {
  border: 2px solid var(--rs-01);
  background: var(--cz-01);
  width: 320px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 60px 4px 20px;
  grid-area: 1/1;
}

#s:focus {
  background: var(--cz-00);
  border: 3px solid var(--az-01) !important;
  box-shadow: 0 2px 4px var(--cz-00);
}

#searchbutton {
  grid-area: 1/1;
  width: 36px;
  height: 36px;
  justify-self: end;
  text-indent: -10000px;
  background: url("./img-meufoot/icones/busca.svg") center center no-repeat;
  cursor: pointer;
  background-position: -1;
  border: none;
}

.meufoot_cart {
  align-items: center;
  padding: 0 16px;
  position: relative;
}
.meufoot_cart-cont {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--az-04);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--cz-01);
  position: absolute;
  top: -5px;
  left: 26px;
}
.meufoot_cart img {
  display: block;
}

/*control second menu style*/
.header_menu--second ul {
  width: 100%;
  align-items: center;
}
.header_menu--second ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cz-01);
  border: 2px solid var(--az-01);
  border-top: none;
  width: 156px;
  height: 64px;
  border-radius: 0 0 8px 8px;
}
.header_menu--second ul li:nth-child(odd),
.header_menu--second ul li:nth-child(even) {
  border-right: none;
}
.header_menu--second ul li:first-child {
  border-left: none;
}
.header_menu--second ul li:first-child,
.header_menu--second ul li:nth-child(2),
.header_menu--second ul li:nth-child(3),
.header_menu--second ul li:nth-child(4) {
  padding-top: 8px;
  padding-left: 8px;
}

.header_menu--second ul li a {
  display: block;
  text-align: center;
  max-width: 20ch;
  height: 100%;
  width: 100%;
  padding: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.12rem;
  line-height: 1.2;
  letter-spacing: 0.02;
  color: var(--az-04);
}

/*control 'vantagens' styles*/
.header_vantagens {
  background: var(--rs-01);
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 260px;
}
.header_vantagens-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 8px;
}
.header_vantagens-item:nth-child(2) {
  gap: 4px;
}
@media (max-width: 960px) {
  .header__faixa {
    font-size: 0.65rem;
    padding: 8px 0;
    margin-bottom: 6px;
  }
  .header_menu--first {
    justify-content: space-between;
    gap: 16px;
  }

  .login-options {
    display: none;
  }
  .header_vantagens p {
    font-size: 0.85rem;
  }
}
@media (max-width: 680px) {
  #s {
    width: 240px;
  }
}
@media (max-width: 600px) {
  #s {
    width: 200px;
  }
}
@media (max-width: 560px) {
  #s {
    width: 160px;
  }
}
@media (max-width: 520px) {
  #s {
    width: 148px;
  }
  .login-options a {
    font-size: 0.85rem;
  }
  .meufoot_cart p {
    display: none;
  }
}
@media (max-width: 470px) {
  .header_menu--first {
    gap: 16px;
  }
  #s {
    width: 136px;
  }

  .header_vantagens p {
    font-size: 0.75rem;
  }
  .meufoot_cart img {
    width: 36px;
    height: 100%;
  }
  .meufoot_cart-cont {
    width: 16px;
    height: 16px;
  }
}
