.product-main {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 36px;
}

/*constrol images on gallery*/
.product-gallery {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.product-gallery__list {
  display: flex;
  align-items: center;
  order: 2;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.product-gallery__list .prev {
  position: absolute;
  left: 0;
  display: block;
  color: transparent;
  background: url("./img-meufoot/icones/gallery-prev.svg") no-repeat center
    center;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  z-index: 4;
  padding: 36px 16px;
}
.product-gallery__list .next {
  position: absolute;
  right: 0;
  display: block;
  color: transparent;
  background: url("./img-meufoot/icones/gallery-next.svg") no-repeat center
    center;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  z-index: 4;
  padding: 36px 16px;
}
.gallery-slide {
  display: flex;
  justify-content: start;
  max-width: max-content;
  gap: 20px;
}
.gallery-slide li {
  width: 80vw;
  max-width: 130px;
}

[data-gallery="gallery-list"] {
  border: 2px solid var(--cz-03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}
[data-gallery="gallery-list"]:hover,
[data-gallery="gallery-list"].ativo {
  border: 2px solid var(--rs-01);
}
.product-gallery__main {
  max-width: 600px;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--rs-01);
  border-radius: 8px;
}
.product-gallery__main img {
  border-radius: 4px;
}

/*controls product info*/

.product-info small {
  padding: 4px 8px;
  background: var(--az-01);
  border-radius: 10px;
}
.product-info h1 {
  margin: 24px 0 8px 0;
}
.product-info__price {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 24px;
}
.product-info__price-reg {
  text-decoration-line: line-through;
  color: var(--cz-07);
}

/*control cat select*/
.variations {
  display: none;
}
.cat-list__img,
.cat-list__attr {
  display: flex;
  gap: 20px;
}
.cat-list__img {
  max-width: 280px;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}
.cat-box__img {
  width: 56px;
  height: 100%;
  border: 3px solid var(--cz-05);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  cursor: pointer;
}
.cat-box__img:hover,
.cat-box__img.ativo,
.cat-variation:hover,
.cat-variation.ativo {
  border: 3px solid var(--rs-01);
  transform: scale(1.2);
  opacity: 1;
}
.cat-list__title {
  color: var(--cz-07);
  font-weight: 700;
  margin-bottom: 12px;
}
.cat-list__attr {
  max-width: 280px;
  flex-wrap: wrap;
  align-items: start;
  gap: 16px;
  margin-bottom: 48px;
}
.cat-variation {
  padding: 6px;
  background-color: var(--cz-01);
  border: 3px solid var(--cz-03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-flexbox {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 8px;
}
.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.qty {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  text-align: center;
  width: 48px;
  border: 2px solid var(--cz-03);
}

.decrease-btn {
  justify-content: center;
  display: block;
  background-color: var(--cz-01);
  background: url("./img-meufoot/icones/decrement-icon.svg") center center
    no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  cursor: pointer;
}
.increase-btn {
  justify-content: center;
  display: block;
  background-color: var(--cz-01);
  background: url("./img-meufoot/icones/increment-icon.svg") center center
    no-repeat;
  width: 28px;
  height: 28px;
  margin-left: 8px;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.woocommerce-variation-add-to-cart button.single_add_to_cart_button {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border: none;
  background: var(--rs-01);
  color: var(--rs-05);
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  cursor: pointer;
}
.fret-p,
.card-p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 600;
  color: var(--rs-05);
  margin-bottom: 4px;
}
.fret-p::before {
  content: "";
  display: blocks;
  width: 32px;
  height: 18px;
  background: url("./img-meufoot/icones/shipping.svg") center center no-repeat;
  margin-right: 8px;
}
.card-p::before {
  content: "";
  display: blocks;
  width: 32px;
  height: 18px;
  background: url("./img-meufoot/icones/credit_card.svg") center center
    no-repeat;
  margin-right: 8px;
}
.product-description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 48px;
}
.product-description h2 {
  margin-bottom: 24px;
}
.product-related {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 48px;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 80px;
}
@media (max-width: 960px) {
  .product-main,
  .product-description {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 0 16px;
  }
  .product-info small {
    height: max-content;
  }
  .product-info__price {
    flex-direction: row;
    gap: 8px;
  }
  .product-info__variations {
    display: flex;
    gap: 16px;
  }
  .cat-list__img {
    padding-top: 32px;
    height: max-content;
  }
  .product-related .product-list {
    justify-content: start;
  }
  .product-related .product-list .product-item {
    max-width: 280px;
  }
}
@media (max-width: 660px) {
  .product-gallery {
    max-width: 480px;
  }
  .gallery-slide li {
    max-width: 80px;
  }
  .product-info__variations {
    flex-direction: column;
  }
  .product-related .product-list {
    justify-content: center;
    padding-left: 12px;
    padding-right: 24px;
  }
}
@media (max-width: 550px) {
  .product-gallery {
    max-width: 360px;
  }
}

@media (max-width: 420px) {
  .product-gallery {
    max-width: 280px;
  }
  .gallery-slide {
    gap: 8px;
  }
  .gallery-slide li {
    max-width: 50px;
  }
  .product-gallery__list .prev,
  .product-gallery__list .next {
    padding: 18px 8px;
  }

  .product-info small {
    margin-top: 12px;
    margin-left: 18px;
    max-width: max-content;
  }
  .product-info h1 {
    margin-left: 18px;
  }
  .product-info__price {
    margin-left: 18px;
  }
  .btn-flexbox {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 320px) {
  .product-gallery {
    max-width: 260px;
  }
}
