.font-1-xs {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-1-up-xs {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.font-1-up-s {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
.font-1-s {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}
.font-1-m {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.font-1-up-m {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.font-1-l {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}
.font-1-up-l {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.font-1-xl {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}
.font-2-up-s {
  font-family: "Chewy", "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1;
}
.font-2-up-m {
  font-family: "Chewy", "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.font-2-up-l {
  font-family: "Chewy", "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}
.font-2-up-xl {
  font-family: "Chewy", "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}
