/* notices styles*/
@import url("./woo-styles/notices.css");
/*cart table styles*/
@import url("./woo-styles/cart-table.css");
/* billing page styles */
@import url("./woo-styles/billing-page.css");

/* login and sign in style*/
@import url("./woo-styles/login.css");

/*custom user menu buttons*/
@import url("./woo-styles/user-menu-btn.css");
/*custom user menu orders table*/
@import url("./woo-styles/user-order-table.css");
/*custom user menu order detail*/
@import url("./woo-styles/user-order-details.css");
/*custom user menu track code*/
@import url("./woo-styles/user-order-track.css");

/*custom user menu destination address*/
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: none;
}

/*custom user menu users saved address*/
@import url("./woo-styles/user-menu-address.css");

/*custom user menu Edit Account User-data*/

.woocommerce-EditAccountForm fieldset {
  margin-top: 64px;
}
.woocommerce-EditAccountForm p .button {
  margin: 24px 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  background-color: var(--rs-01);
  color: var(--rs-05);
}

/* mobile changes in style*/

@media (max-width: 960px) {
  .woocommerce-MyAccount-content {
    padding: 0 36px;
  }
}
@media (max-width: 760px) {
  #customer_login {
    flex-direction: column;
    padding: 0 24px;
  }
  .product-thumbnail {
    display: block !important;
    float: right;
  }
  .product-thumbnail::before {
    display: none;
  }
  .woocommerce-message {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 12px;
  }

  .woocommerce-MyAccount-content {
    padding: 0 36px;
  }
  .woocommerce-order {
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .order_details {
    display: flex;
    flex-direction: column;
    max-width: max-content;
  }
  td.product-quantity .quantity {
    margin-left: 16px !important;
  }
  .wc-correios-tracking__table tfoot tr td::before {
    display: none;
  }
  .wc-correios-tracking__table tfoot tr td {
    text-align: left !important;
  }
  .wc-correios-tracking__table tbody tr td:first-child::before {
    content: "Última Atualização:";
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
  }
  .wc-correios-tracking__table tbody tr td:last-child::before {
    content: "Status da Encomenda:";
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
  }
  .addresses {
    flex-direction: column;
    padding: 0 24px;
  }

  @media (max-width: 600px) {
    .woocommerce-MyAccount-navigation ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 16px;
    }
    .woocommerce-MyAccount-content p {
      max-width: 45ch;
      line-height: 2rem;
    }
  }
}
